#portfolio-flowers {
  .flower-options {
    display: flex;
  }
  .flower-options-categories {
    ul {
      display: flex;
    }
    li {
      margin-right: $base * 8;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      color: $primary-color;
      font-family: $primary-family;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    .active {
      color: red;
    }
  }

  h6 {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $primary-family;
    display: inline-block;
    margin-right: 8px;
  }

  .item {
    margin: 0 0 40px;
    overflow: hidden;
    cursor: pointer;

    .item-image {
      overflow: hidden;
      img {
        transition: 0.9s;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
  .item-body {
    text-align: center;
    margin: 23px 0 0;
    h6 {
      color: $primary-color;
      font-family: $primary-family;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: $base * 3;
      margin-bottom: 0;
      display: block;
      text-align: initial;
    }
    a {
      margin: 3px 0 0;
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-family: $primary-family;
      display: block;
      text-align: initial;
      color: #6d6a6a;
      &:hover {
        color: #f34f3f;
      }
    }
  }
  .load-more-button {
    padding: 70px 0 80px 0;
    text-align: center;
    button {
      color: #fff;
      background-color: #f34f3f;
      border: 1px solid transparent;
      padding: 22px 52px;
      font-family: $primary-family;
      font-size: $base * 3;
      &:hover {
        border-color: #ff3d2a;
        background-color: #ff3d2a;
      }
    }
  }
}

@media screen and (max-width: $mediu-sizes) {
  #portfolio-flowers {
    .flower-options-categories {
      li {
        margin-right: 29px;
      }
    }
  }
}
@media screen and (max-width: $small-sizes) {
  #portfolio-flowers {
    .flower-options {
      display: block;
      ul {
        display: block;
      }
    }
    .item-image {
      padding: 10px;
    }
    .item-body {
      padding: 10px;
    }
  }
}
