#portfolio-intro {
  padding-bottom: 75px;
  .portfolio-intro-text {
    background-color: #fafaf9;
    padding: 59px 144px;
    h1 {
      @include mainHeadStyle;
      color: #0e0e0e;
      font-weight: 400;
    }
  }
}
@media screen and (max-width: $medium-sizes) {
  #portfolio-intro {
    .portfolio-intro-text {
      padding: 59px 30px;
      h1 {
        font-size: 36px;
      }
    }
  }
}
