#about-us-intro {
  background: url("/assets/image/backgrounds/about-us-title-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding: 110px;
  .context {
    text-align: center;
  }
  h1 {
    @include mainHeadStyle;
  }
  p {
    font-family: $title-text-family;
    font-size: 17px;
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
    color: $item-paragraph-color;
    margin: 8px 0 0;
  }
}
