header {
  padding-bottom: 27px;
  .bar-icon {
    display: none;
  }
  .main-nav {
    margin-left: 0px;
    display: flex;
    padding-top: 47px;

    img {
      height: 25px;
      width: 212px;
    }
  }
  .sub-menu {
    .shop-drop-menu-title {
      font-family: "Playfair Display", serif;
      font-size: 22px;
      text-transform: none;
      line-height: 1.1em;
      color: #1b1b1b;
    }
  }
  .nav-list {
    display: inline-block;
    margin-left: 148px;
    .head-links {
      margin-left: 64px;
      li {
        position: relative;
        padding: 0 29px;
        -webkit-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        .shop-link {
          position: absolute;
          left: -700px !important;
        }
        .sub-menu-links {
          //   display: none;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 77px;
          left: 0;
          width: 100%;
          -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
          z-index: -1;
          background-color: #fff;
          -webkit-transition: all 0.7s ease-in-out 0s, visibility 0s;
          transition: all 0.7s ease-in-out, visibility 0s;

          ul {
            padding: 19px 0;
          }
          li {
            width: 229px;
            a {
              font-size: $base * 3 +1;
              color: #737373;
              line-height: 19px;
            }
          }
        }
        &:hover .sub-menu-links {
          //   display: block;
          visibility: visible;
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);
        }

        // &:hover .shop-link {
        //   position: absolute;
        //   left: -571px;
        //   top: 30px;
        //   height: 450px;
        //   width: 1000px;
        //   padding: 30px 16px;
        // }
        a {
          color: $primary-color;
          font-size: $font-12;
          font-weight: 500;
          line-height: $base * 4 +5;
          position: relative;
          text-decoration: none;
          letter-spacing: 0.1em;
          font-family: $primary-family;

          &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 0;
            top: 14px;
            background-color: black;
            left: 0;
            transition: 1s ease-in-out;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
  .search-icon {
    i {
      transform: rotate(90deg);
      font-size: $base * 4 +3;
    }
  }
  .shopping-bag-icon {
    margin-left: $base * 7;
    position: relative;
    i {
      position: relative;
      font-size: $base * 4 +1;
      .items-in-bag {
        position: absolute;
        top: -6px;
        left: 8px;
        background-color: red;
        color: #fff;
        border-radius: 18px;
        height: 15px;
      }
    }
  }
  .cart-info {
    display: block;
    color: $primary-color;
    font-size: $font-12;
    font-weight: 500;
    line-height: $base * 5;
    padding: 0 20px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-family: $primary-family;
  }
}
@media screen and (max-width: 1200px) {
  header {
    .main-nav {
      display: inline-block;
    }
    .nav-list {
      margin-left: 0;
    }
    .search-icon {
      display: inline-block;
      position: absolute;
      right: 127px;
    }
    .shoppping-bag-icon {
      display: inline-block;
      right: 24px;
    }
    .cart-info {
      position: absolute;
      right: 20px;
      display: inline-block;
    }
    .bar-icon {
      position: absolute;
      right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    .main-nav {
      justify-content: space-between;
    }
    .bar-icon {
      display: block;
      i {
        font-size: 18px;
        margin-right: 20px;
      }
    }
    .nav-list,
    .search-icon,
    .shopping-bag-icon,
    .cart-info {
      display: none;
    }
  }
}
