$about-us-bg-color: #f8f8f8;
#about-us-flower-experts {
  padding-bottom: 148px;
  background-color: $about-us-bg-color;
  .flower-experts-title {
    padding: 0px 29%;
    padding-top: 138px;
    padding-bottom: 60px;

    h2 {
      font-size: 38px;
      line-height: 1.447em;
      color: $primary-title-color;
      font-family: $title-family;
      font-weight: 400;
      margin: 0 0 19px;
    }
    p {
      font-size: 17px;
      line-height: 29px;
      margin: 14px 0 0;
      font-family: $title-text-family;
      color: $item-paragraph-color;
    }
  }
  .expert-item {
    .expert-info {
      margin: 18px 0 0;
    }
    h5 {
      @include headingStyle;
    }
    p {
      font-size: 12px;
      color: #afafaf;
      margin: 2px 0 4px;
    }
  }
}
@media screen and (max-width: $large-sizes) {
  #flower-experts {
    .flower-experts-title {
      padding: 0px 0px;

      padding-top: 138px;
      padding-bottom: 60px;
    }
  }
}
@media screen and(max-width:$medium-sizes) {
  #flower-experts {
    .flower-experts-title {
      padding: 0px 6%;

      padding-top: 138px;
      padding-bottom: 60px;
    }
    .expert-item {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: $small-sizes) {
  #flower-experts {
    .flower-experts-title {
      h2 {
        font-size: 30px;
      }
    }
  }
  .expert-item {
    margin-bottom: 30px;
  }
}
