header {
  height: 115px;
}

header .main-nav {
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 47px;
}

header .main-nav img {
  height: 25px;
  width: 212px;
}

header .sub-menu .shop-drop-menu-title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
}

header .sub-menu-links ul {
  padding: 19px 0;
}

header .sub-menu-links li {
  width: 332px;
}

header .sub-menu-links li a {
  font-size: 13px;
  color: #737373;
  line-height: 19px;
}

header .nav-list {
  display: inline-block;
  margin-left: 148px;
}

header .nav-list .head-links {
  margin-left: 64px;
}

header .nav-list .head-links li {
  position: relative;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

header .nav-list .head-links li .sub-menu-links {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  z-index: -1;
  -webkit-transition: all 0.7s ease-in-out 0s, visibility 0s;
  transition: all 0.7s ease-in-out 0s, visibility 0s;
}

header .nav-list .head-links li:hover .sub-menu-links {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

header .nav-list .head-links li:hover .shop-link {
  position: absolute;
  left: -571px;
  top: 30px;
  height: 450px;
  width: 1000px;
  padding: 30px 16px;
}

header .nav-list a {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  width: 0;
  padding: 0 29px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
  position: relative;
}

header .nav-list a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  top: 14px;
  background-color: black;
  left: 29px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header .nav-list a:hover::after {
  width: 50%;
}

header .search-icon i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 19px;
}

header .shopping-bag-icon {
  margin-left: 28px;
  position: relative;
}

header .shopping-bag-icon i {
  position: relative;
}

header .shopping-bag-icon i .items-in-bag {
  position: absolute;
  top: -6px;
  left: 8px;
  background-color: red;
  color: #fff;
  border-radius: 18px;
  height: 15px;
}

header .cart-info {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 29px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
}
