header {
  height: 115px;
}

header .main-nav {
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 47px;
}

header .main-nav img {
  height: 25px;
  width: 212px;
}

header .sub-menu .shop-drop-menu-title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
}

header .sub-menu-links ul {
  padding: 19px 0;
}

header .sub-menu-links li {
  width: 332px;
}

header .sub-menu-links li a {
  font-size: 13px;
  color: #737373;
  line-height: 19px;
}

header .nav-list {
  display: inline-block;
  margin-left: 148px;
}

header .nav-list .head-links {
  margin-left: 64px;
}

header .nav-list .head-links li {
  position: relative;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

header .nav-list .head-links li .sub-menu-links {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  z-index: -1;
  -webkit-transition: all 0.7s ease-in-out 0s, visibility 0s;
  transition: all 0.7s ease-in-out 0s, visibility 0s;
}

header .nav-list .head-links li:hover .sub-menu-links {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

header .nav-list .head-links li:hover .shop-link {
  position: absolute;
  left: -571px;
  top: 30px;
  height: 450px;
  width: 1000px;
  padding: 30px 16px;
}

header .nav-list a {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  width: 0;
  padding: 0 29px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
  position: relative;
}

header .nav-list a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  top: 14px;
  background-color: black;
  left: 29px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header .nav-list a:hover::after {
  width: 50%;
}

header .search-icon i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 19px;
}

header .shopping-bag-icon {
  margin-left: 28px;
  position: relative;
}

header .shopping-bag-icon i {
  position: relative;
}

header .shopping-bag-icon i .items-in-bag {
  position: absolute;
  top: -6px;
  left: 8px;
  background-color: red;
  color: #fff;
  border-radius: 18px;
  height: 15px;
}

header .cart-info {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 29px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
}

.images {
  height: 300px;
  width: 100px;
}

.carousel-text {
  position: absolute;
  z-index: 6;
  top: 20%;
  left: 10%;
}

.text-head {
  min-width: 347px;
  max-width: 347px;
}

.text-head h1,
.text-head h2 {
  font-size: 41px;
  line-height: 51px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.text-head h1 span,
.text-head h2 span {
  color: red;
}

.text-body {
  min-width: 429px;
  max-width: 429px;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6d6a6a;
}

.text-image {
  margin-top: 10px;
}

#flower-items {
  padding-top: 80px;
  padding-bottom: 75px;
}

#flower-items .flower-categories li {
  margin-right: 32px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
}

#flower-items .flower-categories a {
  text-decoration: none;
  color: #1b1b1b;
  font-family: Montserrat, sans-serif;
}

#flower-items .flower-categories a:hover {
  color: red;
}

#flower-items .category-filter {
  vertical-align: middle;
  cursor: pointer;
  margin-top: -6px;
}

#flower-items .category-filter h6 {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  display: inline-block;
  margin-right: 8px;
}

#flower-items .category-filter i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#flower-items .item {
  margin: 0 0 40px;
  overflow: hidden;
  cursor: pointer;
}

#flower-items .item .item-image {
  overflow: hidden;
}

#flower-items .item .item-image img {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#flower-items .item .item-image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#flower-items .item-body {
  text-align: center;
  margin: 23px 0 0;
}

#flower-items .item-body .price-second {
  color: #2d2b2b;
}

#flower-items .item-body h6 {
  color: #1b1b1b;
  font-family: Montserrat, sans-serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

#flower-items .item-body a {
  color: #afafaf;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
}

#surprise-your-valentine {
  height: 500px;
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 120px;
}

#surprise-your-valentine .surprise-your-valentine-body {
  padding: 31px 15% 0px 70px;
}

#surprise-your-valentine .surprise-your-valentine-body h2 {
  font-size: 38px;
  line-height: 1.447em;
  margin: 0 0 19px;
  font-family: "Playfair Display", serif;
}

#surprise-your-valentine .surprise-your-valentine-body p {
  font-size: 17px;
  line-height: 29px;
  margin-top: 27px;
  font-family: Lora, serif;
  color: #6d6a6a;
}

#surprise-your-valentine .surprise-your-valentine-body .valentine-word {
  color: #f34f3f;
}

#surprise-your-valentine .surprise-your-valentine-body .icon-info {
  font-size: 17px;
}

#surprise-your-valentine .surprise-your-valentine-body .icon-info img {
  margin-right: 13px;
}

#flower-experts {
  padding-bottom: 148px;
}

#flower-experts .flower-experts-title {
  padding: 0px 29%;
  padding-top: 138px;
  padding-bottom: 60px;
}

#flower-experts .flower-experts-title h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 19px;
}

#flower-experts .flower-experts-title p {
  font-size: 17px;
  line-height: 29px;
  margin: 14px 0 0;
  font-family: Lora, serif;
  color: #6d6a6a;
}

#flower-experts .expert-item .expert-info {
  margin: 18px 0 0;
}

#flower-experts .expert-item h5 {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0;
}

#flower-experts .expert-item p {
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
}

#join-colorful-bunch {
  background-image: url("/assets/image/backgrounds/h3-background-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#join-colorful-bunch .context {
  padding-top: 183px;
  padding-bottom: 185px;
}

#join-colorful-bunch .join-title h3 {
  color: #ffffff;
  margin: 0 0 19px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

#join-colorful-bunch input[type="email"] {
  color: #959595;
  font-size: 12px;
  background-color: white;
  margin: 0px -6px 15px;
  padding: 19px 18px;
  font-family: Montserrat, sans-serif;
  width: 27%;
  border: none;
}

#join-colorful-bunch input[type="submit"] {
  width: 13%;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 19px 43px;
  color: #fff;
  background-color: #f34f3f;
  border: none;
  text-transform: uppercase;
}

#blog {
  background-color: #f8f8f8;
}

#blog .blog-title {
  padding-top: 98px;
  padding-bottom: 68px;
}

#blog .blog-title h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 19px;
}

#blog .blog-title p {
  font-size: 17px;
  line-height: 29px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  padding: 0 303px;
  margin: 14px 0 0;
}

#blog .item-image {
  margin: 0 0 29px;
  position: relative;
  overflow: hidden;
}

#blog .item-image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog .item-image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blog .item-image .date-in-image {
  position: absolute;
  font-size: 10px;
  position: absolute;
  background-color: #fff;
  padding: 12px 16px 10px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  top: 10px;
  left: 10px;
  letter-spacing: 0.15em;
  line-height: 1em;
  z-index: 8888;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#blog .item-image .date-in-image:hover {
  color: #f34f3f;
}

#blog .item-body {
  margin: 0 0 3px;
  text-align: center;
}

#blog .item-body h3 {
  font-size: 22px;
  line-height: 1.363em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 3px;
}

#blog .item-body p {
  font-size: 15px;
  color: #6d6a6a;
  padding: 0 35px;
  font-family: "Lora", serif;
  margin: 12px 0 0;
}
