header {
  padding-bottom: 27px;
}

header .bar-icon {
  display: none;
}

header .main-nav {
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 47px;
}

header .main-nav img {
  height: 25px;
  width: 212px;
}

header .sub-menu .shop-drop-menu-title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
}

header .nav-list {
  display: inline-block;
  margin-left: 148px;
}

header .nav-list .head-links {
  margin-left: 64px;
}

header .nav-list .head-links li {
  position: relative;
  padding: 0 29px;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

header .nav-list .head-links li .shop-link {
  position: absolute;
  left: -700px !important;
}

header .nav-list .head-links li .sub-menu-links {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-1em);
  transform: translateY(-1em);
  z-index: -1;
  background-color: #fff;
  -webkit-transition: all 0.7s ease-in-out 0s, visibility 0s;
  -webkit-transition: all 0.7s ease-in-out, visibility 0s;
  transition: all 0.7s ease-in-out, visibility 0s;
}

header .nav-list .head-links li .sub-menu-links ul {
  padding: 19px 0;
}

header .nav-list .head-links li .sub-menu-links li {
  width: 229px;
}

header .nav-list .head-links li .sub-menu-links li a {
  font-size: 13px;
  color: #737373;
  line-height: 19px;
}

header .nav-list .head-links li:hover .sub-menu-links {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

header .nav-list .head-links li a {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
}

header .nav-list .head-links li a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  top: 14px;
  background-color: black;
  left: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header .nav-list .head-links li a:hover::before {
  width: 100%;
}

header .search-icon i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 19px;
}

header .shopping-bag-icon {
  margin-left: 28px;
  position: relative;
}

header .shopping-bag-icon i {
  position: relative;
  font-size: 17px;
}

header .shopping-bag-icon i .items-in-bag {
  position: absolute;
  top: -6px;
  left: 8px;
  background-color: red;
  color: #fff;
  border-radius: 18px;
  height: 15px;
}

header .cart-info {
  display: block;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 20px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 1200px) {
  header .main-nav {
    display: inline-block;
  }
  header .nav-list {
    margin-left: 0;
  }
  header .search-icon {
    display: inline-block;
    position: absolute;
    right: 127px;
  }
  header .shoppping-bag-icon {
    display: inline-block;
    right: 24px;
  }
  header .cart-info {
    position: absolute;
    right: 20px;
    display: inline-block;
  }
  header .bar-icon {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  header .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .bar-icon {
    display: block;
  }
  header .bar-icon i {
    font-size: 18px;
    margin-right: 20px;
  }
  header .nav-list,
  header .search-icon,
  header .shopping-bag-icon,
  header .cart-info {
    display: none;
  }
}

#carousel {
  overflow-x: hidden;
  position: relative;
}

#carousel .carousel-item img {
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}

#carousel .next-z-index {
  z-index: 8;
}

.images {
  height: 300px;
  width: 100px;
}

.carousel-text {
  position: absolute;
  z-index: 6;
  top: 20%;
  left: 10%;
}

.text-head {
  min-width: 347px;
  max-width: 347px;
}

.text-head h1,
.text-head h2 {
  font-size: 41px;
  line-height: 51px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.text-head h1 span,
.text-head h2 span {
  color: red;
}

.text-body {
  min-width: 429px;
  max-width: 429px;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6d6a6a;
}

.text-image {
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .text-head {
    min-width: 180px;
    max-width: 261px;
  }
  .text-head h1 {
    font-size: 30px;
    line-height: 29px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .text-head h2 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .text-body {
    min-width: 329px;
    max-width: 356px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .text-image {
    margin-top: 18px;
  }
}

@media screen and (max-width: 768px) {
  .text-head h1 {
    font-size: 23px;
    line-height: 3px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .text-head h2 {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .text-body {
    min-width: 185px;
    max-width: 174px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .text-image img {
    height: 36px;
    max-width: 91px;
  }
}

@media screen and (max-width: 567px) {
  .text-head h1 {
    font-size: 18px;
    line-height: 3px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
  }
  .text-body {
    display: none;
  }
  .text-image {
    margin-top: 4px;
  }
}

#flower-items {
  padding-top: 80px;
  padding-bottom: 75px;
}

#flower-items .flower-categories .category-button {
  display: none;
}

#flower-items .flower-categories .category-button i {
  margin-left: 4px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#flower-items .flower-categories li {
  margin-right: 32px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b1b1b;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}

#flower-items .flower-categories li:hover {
  color: red;
}

#flower-items .flower-categories .active {
  color: red;
}

#flower-items .category-filter {
  vertical-align: middle;
  cursor: pointer;
  margin-top: -6px;
}

#flower-items .category-filter h6 {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  display: inline-block;
  margin-right: 8px;
}

#flower-items .category-filter i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#flower-items .item {
  margin: 0 0 40px;
  overflow: hidden;
  cursor: pointer;
}

#flower-items .item .item-image {
  overflow: hidden;
}

#flower-items .item .item-image img {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#flower-items .item .item-image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#flower-items .item-body {
  text-align: center;
  margin: 23px 0 0;
}

#flower-items .item-body .price-second {
  color: #2d2b2b;
}

#flower-items .item-body h6 {
  color: #1b1b1b;
  font-family: Montserrat, sans-serif;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

#flower-items .item-body a {
  color: #afafaf;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #flower-items .flower-categories-list li {
    display: none;
  }
  #flower-items .flower-categories .category-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#surprise-your-valentine {
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 120px;
}

#surprise-your-valentine iframe {
  position: relative;
  height: 100%;
  width: 100%;
}

#surprise-your-valentine .surprise-your-valentine-body {
  padding: 31px 10% 0px 8px;
}

#surprise-your-valentine .surprise-your-valentine-body h2 {
  font-size: 38px;
  line-height: 1.447em;
  margin: 0 0 19px;
  font-family: "Playfair Display", serif;
}

#surprise-your-valentine .surprise-your-valentine-body p {
  font-size: 17px;
  line-height: 29px;
  margin-top: 27px;
  font-family: Lora, serif;
  margin-bottom: 32px;
  color: #6d6a6a;
}

#surprise-your-valentine .surprise-your-valentine-body .valentine-word {
  color: #f34f3f;
}

#surprise-your-valentine .surprise-your-valentine-body .icon-info {
  font-size: 17px;
  font-family: Lora, serif;
  color: #6d6a6a;
  margin-bottom: 19px;
}

#surprise-your-valentine .surprise-your-valentine-body .icon-info img {
  margin-right: 13px;
}

@media screen and (max-width: 567px) {
  #surprise-your-valentine .surprise-your-valentine-body h2 {
    font-size: 30px;
    line-height: 1.447em;
    margin: 0 0 19px;
    font-family: "Playfair Display", serif;
  }
}

#flower-experts {
  padding-bottom: 148px;
}

#flower-experts .flower-experts-title {
  padding: 0px 29%;
  padding-top: 138px;
  padding-bottom: 60px;
}

#flower-experts .flower-experts-title h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 19px;
}

#flower-experts .flower-experts-title p {
  font-size: 17px;
  line-height: 29px;
  margin: 14px 0 0;
  font-family: Lora, serif;
  color: #6d6a6a;
}

#flower-experts .expert-item .expert-info {
  margin: 18px 0 0;
}

#flower-experts .expert-item h5 {
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0;
}

#flower-experts .expert-item p {
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
}

@media screen and (max-width: 992px) {
  #flower-experts .flower-experts-title {
    padding: 0px 0px;
    padding-top: 138px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  #flower-experts .flower-experts-title {
    padding: 0px 6%;
    padding-top: 138px;
    padding-bottom: 60px;
  }
  #flower-experts .expert-item {
    margin-bottom: 30px;
  }
  #flower-experts h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 567px) {
  #flower-experts .flower-experts-title h2 {
    font-size: 30px;
  }
  .expert-item {
    margin-bottom: 30px;
  }
}

#join-colorful-bunch {
  background-image: url("/assets/image/backgrounds/h3-background-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#join-colorful-bunch .context {
  padding-top: 183px;
  padding-bottom: 185px;
}

#join-colorful-bunch .join-title h3 {
  color: #ffffff;
  margin: 0 0 19px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

#join-colorful-bunch input[type="email"] {
  color: #959595;
  font-size: 12px;
  background-color: white;
  margin: 0px -6px 15px;
  padding: 19px 18px;
  font-family: Montserrat, sans-serif;
  width: 27%;
  border: none;
}

#join-colorful-bunch input[type="submit"] {
  width: 13%;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 19px 43px;
  color: #fff;
  background-color: #f34f3f;
  border: none;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  #join-colorful-bunch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #join-colorful-bunch input[type="email"] {
    color: #959595;
    font-size: 12px;
    background-color: white;
    padding: 11px 7px;
    font-family: Montserrat, sans-serif;
    display: block;
    margin-bottom: 10px;
    margin-left: 97px;
  }
  #join-colorful-bunch input[type="submit"] {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    padding: 10px 81px;
    color: #fff;
    background-color: #f34f3f;
    border: none;
    text-transform: uppercase;
    display: block;
    margin-left: 74px;
  }
}

#blog {
  background-color: #f8f8f8;
  padding-bottom: 81px;
}

#blog .blog-title {
  padding-top: 98px;
  padding-bottom: 68px;
}

#blog .blog-title h2 {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 19px;
}

#blog .blog-title p {
  font-size: 17px;
  line-height: 29px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  padding: 0 303px;
  margin: 14px 0 0;
}

#blog .item-image {
  margin: 0 0 29px;
  position: relative;
  overflow: hidden;
}

#blog .item-image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog .item-image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blog .item-image .date-in-image {
  position: absolute;
  font-size: 10px;
  position: absolute;
  background-color: #fff;
  padding: 12px 16px 10px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  top: 10px;
  left: 10px;
  letter-spacing: 0.15em;
  line-height: 1em;
  z-index: 8888;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#blog .item-image .date-in-image:hover {
  color: #f34f3f;
}

#blog .item-body {
  margin: 0 0 3px;
  text-align: center;
}

#blog .item-body h3 {
  font-size: 22px;
  line-height: 1.363em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 0 3px;
}

#blog .item-body p {
  font-size: 15px;
  color: #6d6a6a;
  padding: 0 35px;
  font-family: "Lora", serif;
  margin: 12px 0 0;
}

@media screen and (max-width: 576px) {
  #blog .blog-title h2 {
    font-size: 30px;
  }
  #blog .blog-title p {
    padding: 0;
  }
  #blog .blog-item .item-image {
    padding: 25px;
  }
  #blog .blog-item .date-in-image {
    top: 31px;
    left: 33px;
  }
  #blog .blog-item .item-body h3 {
    font-size: 18px;
  }
}
