#blogMansoryIntro {
  background-color: #fafaf9;
  padding: 59px 0;
  .blogMansory-text {
    h1 {
      font-size: 50px;
      line-height: 1.32em;
      color: #0e0e0e;
      font-family: "Playfair Display", serif;
      font-weight: 400;
    }
    p {
      font-family: Lora, serif;
      font-size: 17px;
      font-style: italic;
      text-transform: none;
      letter-spacing: 0;
      color: #6d6a6a;
    }
  }
}
@media screen and(max-width:567px) {
  #blogMansoryIntro {
    padding: 59px 0;
    .blogMansory-text {
      h1 {
        font-size: 36px;
      }
    }
  }
}
