$blog-bg-color: #fafaf9;
#blogMansoryIntro {
  background-color: $blog-bg-color;
  padding: 59px 0;
  .blogMansory-text {
    h1 {
      @include mainHeadStyle;
      color: #0e0e0e;
      font-weight: 400;
    }
    p {
      font-family: $title-text-family;
      font-size: 17px;
      font-style: italic;
      text-transform: none;
      letter-spacing: 0;
      color: $item-paragraph-color;
    }
  }
}
@media screen and(max-width:$small-sizes) {
  #blogMansoryIntro {
    padding: 59px 0;
    .blogMansory-text {
      h1 {
        font-size: 36px;
      }
    }
  }
}
