#mini-articles {
  padding: 80px 0 5px 0;
  .item-image {
    margin: 0 0 29px;
    position: relative;
    overflow: hidden;
    img {
      transition: 0.3s;
    }

    &:hover img {
      transform: scale(1.1);
    }
    .date-in-image {
      position: absolute;
      font-size: 10px;
      position: absolute;
      background-color: $white-color;
      padding: 12px 16px 10px;
      text-align: center;
      font-family: $primary-family;
      top: 10px;
      left: 10px;
      letter-spacing: 0.15em;
      line-height: 1em;
      z-index: 8888;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $button-color;
      }
    }
  }
  .item-body {
    margin: 0 0 3px;
    text-align: center;
    h3 {
      font-size: 22px;
      line-height: 1.363em;
      color: $primary-title-color;
      font-family: $title-family;
      font-weight: 400;
      margin: 0 0 3px;
    }
    p {
      font-size: 15px;
      color: $item-paragraph-color;
      padding: 0 35px;
      font-family: $title-text-family;
      margin: 12px 0 0;
    }
  }
  .blog-quote {
    background-color: #fdfbfc;
    position: relative;
    h4 {
      font-size: 24px;
      line-height: 1.5em;
      color: $primary-title-color;
      font-family: $title-family;
      font-weight: 400;
    }
    p {
      color: $primary-color;
      font-family: Montserrat;
      font-size: 12px;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  .quote-content {
    text-align: center;
    padding: 55px 25px 35px;
  }
  .quote-icon {
    position: absolute;
    top: 140px;
    right: 14px;
    img {
      height: 70px;
      transform: rotateZ(180deg);
      width: 70px;
    }
  }
  .blog-item {
    margin-bottom: 25px;
  }
  .item-impact {
    margin-top: -168px;
  }
  .care-item {
    margin-top: -134px;
  }
}
