$blog-bg-color: #f8f8f8;
#blog {
  background-color: $blog-bg-color;
  padding-bottom: 81px;
  .blog-title {
    padding-top: 98px;
    padding-bottom: 68px;
    h2 {
      font-size: $base * 9 +2;
      line-height: 1.447em;
      color: $primary-title-color;
      font-family: $title-family;
      font-weight: 400;
      margin: 0 0 19px;
    }

    p {
      font-size: $base * 4 +1;
      line-height: 29px;
      font-family: $title-text-family;
      color: $item-paragraph-color;
      padding: 0 303px;
      margin: 14px 0 0;
    }
  }
  .item-image {
    margin: 0 0 29px;
    position: relative;
    overflow: hidden;
    img {
      transition: 0.3s;
    }

    &:hover img {
      transform: scale(1.1);
    }
    .date-in-image {
      position: absolute;
      font-size: $base * 2 +2;
      position: absolute;
      background-color: $white-color;
      padding: 12px 16px 10px;
      text-align: center;
      font-family: $primary-family;
      top: $base * 2 +2;
      left: $base * 2 +2;
      letter-spacing: 0.15em;
      line-height: 1em;
      z-index: 8888;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $button-color;
      }
    }
  }
  .item-body {
    margin: 0 0 3px;
    text-align: center;
    h3 {
      font-size: $base * 5;
      line-height: 1.363em;
      color: $primary-title-color;
      font-family: $title-family;
      font-weight: 400;
      margin: 0 0 3px;
    }
    p {
      font-size: 15px;
      color: $item-paragraph-color;
      padding: 0 35px;
      font-family: $title-text-family;
      margin: 12px 0 0;
    }
  }
}
.btnToTop {
  color: $white-color;
  background-color: $button-color;
  border: 1px solid $button-color;
  font-size: 15px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
@media screen and (max-width: $large-sizes) {
  #blog {
    .blog-title {
      p {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: $medium-sizes) {
  #blog {
    .blog-title {
      h2 {
        font-size: $base * 7 +2;
      }
      p {
        padding: 0;
      }
    }
    .blog-item {
      .item-image {
        padding: $base * 6 +1;
      }
      .date-in-image {
        top: 31px;
        left: 33px;
      }
      .item-body {
        h3 {
          font-size: $base * 4+2;
        }
      }
    }
  }
}
