#flower-experts {
  .flower-experts-title {
    padding: 0px 29%;
    padding-top: 138px;
    padding-bottom: 60px;

    h2 {
      font-size: 38px;
      line-height: 1.447em;
      color: #2b2b2b;
      font-family: "Playfair Display", serif;
      font-weight: 400;
      margin: 0 0 19px;
    }
    p {
      font-size: 17px;
      line-height: 29px;
      margin: 14px 0 0;
      font-family: Lora, serif;
      color: #6d6a6a;
    }
  }
  .expert-item {
    .expert-info {
      margin: 18px 0 0;
    }
    h5 {
      color: #1b1b1b;
      font-family: Montserrat;
      font-size: 12px;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    p {
      font-size: 12px;
      color: #afafaf;
      margin: 2px 0 4px;
    }
  }
}
