#flower-items {
  padding-top: 80px;
  padding-bottom: 75px;
  height: 400px;

  .flower-categories {
    li {
      margin-right: $base * 8;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: $primary-color;
      font-family: $primary-family;

      &:hover {
        color: red;
      }
    }
  }

  .category-filter {
    vertical-align: middle;
    cursor: pointer;
    margin-top: -6px;

    h6 {
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      font-family: $primary-family;
      display: inline-block;
      margin-right: 8px;
    }

    i {
      transform: rotate(90deg);
    }
  }
  .item {
    margin: 0 0 40px;
    overflow: hidden;

    .item-image {
      overflow: hidden;
      img {
        transition: 0.9s;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
  .item-body {
    text-align: center;
    margin: 23px 0 0;
    .price-second {
      color: #2d2b2b;
    }

    h6 {
      color: $primary-color;
      font-family: $primary-family;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: $base * 3;
      margin-bottom: 0;
    }
    a {
      color: #afafaf;
      font-family: Montserrat, sans-serif;
      font-size: $base * 3;
      line-height: 1;
      text-decoration: none;
    }
  }
}
