#flower-items {
  padding-top: 80px;
  padding-bottom: 75px;

  .flower-categories {
    .category-button {
      display: none;
      i {
        margin-left: 4px;
        transform: rotate(90deg);
      }
    }
    li {
      margin-right: $base * 8;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      color: $primary-color;
      font-family: $primary-family;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    .active {
      color: red;
    }
  }

  .category-filter {
    vertical-align: middle;
    cursor: pointer;
    margin-top: -6px;
    .sub-menu-links {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 100px;
      -webkit-transform: translateY(-1em);
      transform: translateY(-1em);
      z-index: -1;
      background-color: #fff;
      -webkit-transition: all 0.7s ease-in-out 0s, visibility 0s;
      transition: all 0.7s ease-in-out, visibility 0s;
      .hovered ul {
        min-width: 150px;
      }
      li {
        font-size: 22px;
        line-height: 1.363em;
        margin: 10px 0;
        color: $primary-color;
        font-family: $title-family;
        font-weight: 400;
      }
      a {
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 500;
        font-family: $primary-family;
        text-decoration: none;
        color: #737373;
        &:hover {
          color: #000;
          transition: 0.3s;
        }
      }
    }
    &:hover .sub-menu-links {
      visibility: visible;
      opacity: 1;
      z-index: 99;
      transform: translateY(0%);
    }
    h6 {
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      font-family: $primary-family;
      display: inline-block;
      margin-right: 8px;
    }

    i {
      transform: rotate(90deg);
    }
  }
  .item {
    margin: 0 0 40px;
    overflow: hidden;
    cursor: pointer;

    .item-image {
      overflow: hidden;
      img {
        transition: 0.9s;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
    &:hover .addToCard {
      visibility: visible;
      margin-left: 10px;
      transition: 0.7s;
    }
    &:hover .price {
      visibility: hidden;
      transition: 0.1s;
    }
  }
  .item-body {
    text-align: center;
    margin: 23px 0 0;
    .price-second {
      color: #2d2b2b;
    }

    h6 {
      color: $primary-color;
      font-family: $primary-family;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: $base * 3;
      margin-bottom: 0;
    }
    .addToCard {
      color: #afafaf;
      font-family: $primary-family;
      font-size: $base * 3;
      line-height: 1;
      text-decoration: none;
      visibility: hidden;
      margin-left: -85px;
    }
    a {
      color: #afafaf;
      font-family: $primary-family;
      font-size: $base * 3;
      line-height: 1;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: $medium-sizes) {
  #flower-items {
    .flower-categories-list {
      li {
        display: none;
      }
    }
    .flower-categories {
      .category-button {
        display: flex;
      }
    }
  }
}
