footer {
  background-color: #fefaf3;
  .footer-links {
    padding: 73px 0;
  }
  h6 {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      font-size: 12px;
      color: #8b8b8b;
      padding: 0 0 3px;
      font-family: Montserrat, sans-serif;
      cursor: pointer;
      &:hover {
        color: $button-color;
      }
    }
  }
  .footer-partners {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 17px;
    .all-rights-reserved {
      color: #afafaf;
      font-size: 12px;
      font-family: Montserrat, sans-serif;

      a {
        color: #6d6a6a;
        text-decoration: none;
        &:hover {
          color: $button-color;
        }
      }
    }
    .social-navigations {
      .instagram-link {
        margin-right: 28px;
      }
      a {
        font-size: 10px;
        letter-spacing: 0.2em;
        text-decoration: none;
        color: #afafaf;
      }
    }
  }
}
