#join-colorful-bunch {
  background-image: url("/assets/image/backgrounds/h3-background-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  .context {
    padding-top: 183px;
    padding-bottom: 185px;
  }
  .join-title {
    h3 {
      color: $white-color;
      margin: 0 0 19px;
      font-family: $title-family;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.4;
    }
  }
  input[type="email"] {
    color: #959595;
    font-size: 12px;
    background-color: $white-color;
    margin: 0px -6px 15px;
    padding: 19px 18px;
    font-family: $primary-family;
    width: 27%;
    border: none;
  }
  input[type="submit"] {
    width: 13%;
    font-size: 12px;
    font-family: $primary-family;
    padding: 19px 43px;
    color: #fff;
    background-color: $button-color;
    border: none;
    text-transform: uppercase;
  }
}
@media screen and (max-width: $medium-sizes) {
  #join-colorful-bunch {
    display: flex;
    justify-content: center;
    input[type="email"] {
      color: #959595;
      font-size: 12px;
      background-color: $white-color;
      padding: 11px 7px;
      font-family: $primary-family;
      display: block;
      margin-bottom: 10px;
      margin-left: 97px;
    }
    input[type="submit"] {
      font-size: 12px;
      font-family: $primary-family;
      padding: 10px 81px;
      color: $white-color;
      background-color: $button-color;
      border: none;
      text-transform: uppercase;
      display: block;
      margin-left: 74px;
    }
  }
}
