#mini-slider {
  padding-top: 119px;
  padding-bottom: 112px;
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 999;
    cursor: pointer;
  }
  .prev-style {
    font-size: 26px;
    left: 18%;
    color: #d3cccc;
    &:hover {
      color: rgb(95, 92, 92);
    }
  }
  .next-style {
    font-size: 26px;
    right: 18%;
    color: #d3cccc;
    &:hover {
      color: rgb(95, 92, 92);
    }
  }
  .slick-next {
    right: 0;
    color: transparent;
    border: none;
    background-color: #fff;
    width: 90px;
    background-size: cover;
    background-image: url(/assets/image/slider-images/right-arrow.png);
  }
  .slick-prev {
    left: 0;
  }
  .content {
    text-align: center;

    .slider-image {
      display: inline-block;
    }
    .slider-body {
      padding: 0 28%;
      margin: 30px 0 0;
      p {
        color: #4b4747;
        font-family: Lora, serif;
        font-style: italic;
        font-size: 24px;
        line-height: 1.5em;
      }
      .author-name {
        color: #1b1b1b;
        font-family: Montserrat;
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: block;
      }
      .author-job {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 24px;
        text-transform: none;
        color: #afafaf;
      }
    }
  }
}
