.fixed-header {
  position: absolute;
  top: $base * 2 +2;
  right: $base * 66;
  z-index: 9999;
}
.fixed {
  position: fixed;
  top: -2px;
  animation: smoothScroll 1s forwards;
  width: 100%;
  left: 0;
  right: 0;
  background-color: $white-color;
  z-index: 99999;
}
.fixed-logo {
  position: absolute;
  left: 63px;
  top: 8px;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

header {
  padding-bottom: 27px;
  .main-logo {
    margin-bottom: 20px;
  }
  .bar-icon {
    display: none;
  }
  .main-nav {
    margin-left: 0px;
    display: flex;
    padding-top: 47px;

    img {
      height: 25px;
      width: 212px;
    }
  }
  .sub-menu {
    .shop-drop-menu-title {
      font-family: $title-family;
      font-size: 22px;
      text-transform: none;
      line-height: 1.1em;
      color: #1b1b1b;
    }
  }
  .nav-list {
    display: inline-block;
    margin-left: 148px;
    .head-links {
      margin-left: 64px;
      li {
        position: relative;
        padding: 0 29px;
        -webkit-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        .shop-link {
          position: absolute;
          left: -700px !important;
          width: 940px !important;
        }
        .sub-menu-links {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 67px;
          left: 0;
          width: 180px;
          transform: translateY(-1em);
          z-index: -1;
          background-color: $white-color;
          transition: all 0.7s ease-in-out, visibility 0s;
          .sub-menu-links-2 {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 32px;
            left: -202px;
            width: 120px;
            transform: translateY(-1em);
            z-index: -1;
            background-color: $white-color;
            transition: all 0.7s ease-in-out, visibility 0s;
          }

          ul {
            padding: 19px 0;
          }
          li {
            width: 229px;
            a {
              font-size: $base * 3 +1;
              color: #737373;
              line-height: 19px;
            }
            &:hover .sub-menu-links-2 {
              visibility: visible;
              opacity: 1;
              z-index: 99;
              transform: translateY(0%);
            }
          }
        }
        &:hover .sub-menu-links {
          visibility: visible;
          opacity: 1;
          z-index: 99;
          transform: translateY(0%);
        }
        a {
          color: $primary-color;
          font-size: $font-12;
          font-weight: 500;
          line-height: $base * 4 +5;
          position: relative;
          text-decoration: none;
          letter-spacing: 0.1em;
          font-family: $primary-family;

          &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 0;
            top: 14px;
            background-color: black;
            left: 0;
            transition: 1s ease-in-out;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
    .fixed-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      background-color: $white-color;
    }
  }
  .search-icon {
    i {
      transform: rotate(90deg);
      font-size: $base * 4 +3;
    }
  }
  .shopping-bag-icon {
    margin-left: $base * 7;
    position: relative;
    i {
      position: relative;
      font-size: $base * 4 +1;
      .items-in-bag {
        font-family: $primary-family;
        position: absolute;
        top: -4px;
        left: 8px;
        width: 13px;
        height: 13px;
        background-color: $button-color;
        font-size: 8px;
        color: $white-color;
        font-weight: 600;
        line-height: 1.5em;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
  .cart-basket {
    visibility: hidden;
    opacity: 0;
    // display: none;
    position: absolute;
    top: 122px;
    right: 96px;
    transform: translateY(-1em);
    z-index: -1;
    background-color: $white-color;
    transition: all 0.9s ease-in-out, visibility 0s;
    ul {
      li {
        color: #737373;
        font-size: 13px;
        font-weight: 500;
        font-family: $primary-family;
      }
    }
  }
  .cart-info {
    display: block;
    color: $primary-color;
    font-size: $font-12;
    font-weight: 500;
    line-height: $base * 5;
    padding: 0 20px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-family: $primary-family;
    cursor: pointer;

    .prices-item-in-cart {
      margin-left: -3px;
    }
    &:hover {
      .cart-basket {
        visibility: visible;
        opacity: 1;
        z-index: 99999;
        transform: translateY(0%);
        padding: 16px 27px;
      }
    }
  }
}
@media screen and (max-width: $xl-large-sizes) {
  header {
    .main-nav {
      display: inline-block;
    }
    .nav-list {
      margin-left: 0;
    }
    .search-icon {
      display: inline-block;
      position: absolute;
      right: 127px;
    }
    .shoppping-bag-icon {
      display: inline-block;
      right: 24px;
    }
    .cart-info {
      position: absolute;
      right: 20px;
      display: inline-block;
    }
    .bar-icon {
      position: absolute;
      right: 0;

      margin-top: -35px;
    }
  }
}

@media screen and (max-width: $large-sizes) {
  header {
    .main-nav {
      justify-content: space-between;
    }
    .bar-icon {
      display: block;
      margin-top: -35px;
      i {
        font-size: 18px;
        margin-right: 20px;
      }
    }
    .nav-list,
    .search-icon,
    .shopping-bag-icon,
    .cart-info {
      display: none;
    }
  }
}
.cartBox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: 0.3s linear;
  transform: scale(0);
}
.cartBox.active {
  transform: scale(1);
}
.cartBox .cart {
  position: relative;
  height: 70%;
  width: 80%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartBox .cart i {
  position: absolute;
  right: 0;
  top: 0;
  background: #f00;
  padding: 10px 15px;
  color: $white-color;
  cursor: pointer;
}
.cartBox .cart i:hover {
  background: #ff0000a5;
}
.cartBox .cart h2 {
  position: relative;
  margin-top: 2%;
  font-size: 2.8rem;
  color: #017bf5;
}
