#carousel {
  overflow-x: hidden;
  position: relative;
  .carousel-item {
    img {
      transition: transform 0.9s ease;
      // transform: scale(1.2);
    }
  }
  .next-z-index {
    z-index: 8;
  }
}
.images {
  height: 300px;
  width: 100px;
}
.carousel-text {
  position: absolute;
  z-index: 6;
  top: 20%;
  left: 10%;
}
.text-head {
  min-width: 347px;
  max-width: 347px;
  h1,
  h2 {
    font-size: 41px;
    line-height: 51px;
    font-weight: 400;
    font-family: $title-family;
    span {
      color: red;
    }
  }
}
.text-body {
  min-width: 429px;
  max-width: 429px;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(109, 106, 106);
}
.text-image {
  margin-top: 10px;
}
@media screen and (max-width: 992px) {
  .text-head {
    min-width: 180px;
    max-width: 261px;
    h1 {
      font-size: 30px;
      line-height: 29px;
      font-weight: 400;
      font-family: "Playfair Display", serif;
    }
    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: 400;
      font-family: "Playfair Display", serif;
    }
  }
  .text-body {
    min-width: 329px;
    max-width: 356px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .text-image {
    margin-top: 18px;
  }
}
@media screen and (max-width: 768px) {
  .text-head {
    h1 {
      font-size: 23px;
      line-height: 3px;
      font-weight: 400;
      font-family: "Playfair Display", serif;
    }
    h2 {
      font-size: 24px;
      line-height: 31px;
      font-weight: 400;
      font-family: "Playfair Display", serif;
    }
  }
  .text-body {
    min-width: 185px;
    max-width: 174px;
    font-size: 10px;
    line-height: 11px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .text-image {
    img {
      height: 36px;
      max-width: 91px;
    }
  }
}
@media screen and (max-width: 567px) {
  .text-head {
    h1 {
      font-size: 18px;
      line-height: 3px;
      font-weight: 400;
      font-family: "Playfair Display", serif;
    }
  }
  .text-body {
    display: none;
  }
  .text-image {
    margin-top: 4px;
  }
}
