#gallery {
  margin: 60px 0 105px;
  .selectable-images {
    width: 118px;
    height: 147px;
    margin-bottom: 14px;
  }
  .rows {
    display: block;
  }
  .popup {
    margin-left: -79px;
    img {
      max-width: 498px;
      height: 642px;
    }
  }
  .mfp-arrow-left {
    position: absolute !important;
    left: 25% !important;
  }
  .next-position {
    position: absolute;
    left: 25%;
  }
  .item-description {
    padding-left: 36px;
    h2 {
      font-size: 38px;
      line-height: 1.447em;
      color: $primary-title-color;
      font-family: $title-family;
      font-weight: 400;
    }
    span {
      font-family: $primary-family;
      display: block;
      margin: 4px 0 0;
      line-height: 1;
      color: #afafaf;
    }
    p {
      margin: 23px 0 32px;
      color: #6d6a6a;
      font-size: 15px;
      font-family: Lora, serif;
    }
  }
  .item-add-to-card {
    position: relative;
    input[type="text"] {
      margin-left: $base * 9 !important;
      border: 1px solid #eee;
      box-sizing: border-box;
      line-height: 50px;
      height: 51px;
      padding: 0 22px;
      margin: 0 -0.3em 0 0;
    }
    input[type="submit"] {
      background-color: #080808;
      padding: 14px 42px;
      color: #fff;
      border: none;
      font-size: 12px;
      font-family: Montserrat, sans-serif;
      line-height: 1.833em;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
    }
    .input-text {
      margin: 0;
      position: absolute;
      color: #999;
      background-color: transparent;
      left: 8%;
      top: 9%;
    }

    span {
      color: #999;
      background-color: transparent;
    }
    .removeBtn {
      position: absolute;
      left: 33%;
      top: 4%;
    }
    .addBtn {
      position: absolute;
      left: 39%;
      top: 4%;
    }
    .quantityNumber {
      position: absolute;
      left: 35%;
      top: 4%;
    }
  }
  .product-details {
    margin-left: $base * 9;
    margin: 32px 37px 0;

    span {
      strong {
        margin: 0 0 7px;
        color: $primary-title-color;
        font-weight: 500;
        font-size: 12px;
        font-family: $primary-family;
      }
      display: block;
      color: #8b8b8b;
      font-size: 12px;
      font-weight: 500;
      font-family: $primary-family;
      margin: 0 0 7px;
    }
  }
}
@media screen and (max-width: $medium-sizes) {
  #gallery {
    padding: 59px 49px;
    .rows {
      display: flex;
      flex-wrap: wrap;
    }
    .popup {
      margin-left: 0;
    }
    .selectable-images {
      width: calc(100% / 12 * 6);
      height: auto;
      img {
        padding: 10px;
      }
    }
    .ordered-item {
      order: -1;
    }
    .item-info {
      margin-top: 175px;
    }
  }
}
@media screen and (max-width: $small-sizes) {
  #gallery {
    .rows {
      display: flex;
      flex-wrap: wrap;
    }
    .selectable-images {
      width: calc(100% / 12 * 6);
      height: auto;
      img {
        padding: 10px;
      }
    }
    .ordered-item {
      order: -1;
    }

    .popup {
      margin-left: 0;
    }
    .item-description {
      h2 {
        font-size: 30px;
      }
    }
    .content-title {
      padding: 13px 10px;
    }
    .item-add-to-card {
      input[type="submit"] {
        display: block;
        margin-left: 34px;
      }
    }
  }
}
