#product-list {
  background-color: #fafaf9;
  padding: 59px 144px;
  .product-list-intro-text {
    h1 {
      @include mainHeadStyle;
      color: #0e0e0e;
      font-weight: 400;
    }
    p {
      font-family: $title-text-family;
      font-size: 17px;
      font-style: italic;
      text-transform: none;
      letter-spacing: 0;
      color: #6d6a6a;
    }
  }
}
