#product-list {
  background-color: #fafaf9;
  padding: 59px 144px;
  .product-list-intro-text {
    h1 {
      font-size: 50px;
      line-height: 1.32em;
      color: #0e0e0e;
      font-family: "Playfair Display", serif;
      font-weight: 400;
    }
    p {
      font-family: Lora, serif;
      font-size: 17px;
      font-style: italic;
      text-transform: none;
      letter-spacing: 0;
      color: #6d6a6a;
    }
  }
}
