#related-products {
  .related-products-title {
    h3 {
      color: #1b1b1b;
      font-family: Montserrat;
      font-size: 12px;
      line-height: 2em;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin: 87px 0 24px;
    }
  }
  .item {
    margin: 0 0 40px;
    overflow: hidden;
    cursor: pointer;

    .item-image {
      overflow: hidden;
      img {
        transition: 0.9s;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
  .item-body {
    text-align: center;
    margin: 23px 0 0;
    .price-second {
      color: #2d2b2b;
    }

    h6 {
      @include headingStyle;
    }
    a {
      color: #afafaf;
      font-family: $primary-family;
      font-size: $base * 3;
      line-height: 1;
      text-decoration: none;
    }
  }
}
@media screen and(max-width:$small-sizes) {
  #related-products {
    .related-products-title {
      padding-left: 55px;
    }
    .item {
      img {
        height: 652px;
        width: 505px;
        padding: 55px;
      }
    }
  }
}
