// colors
$primary-color: #1b1b1b;
$primary-title-color: #2b2b2b;
$footer-link-color: #8b8b8b;
$item-paragraph-color: #6d6a6a;
$primary-bg-color: #f7f7f7;
$button-color: #f34f3f;
$white-color: #fff;

//font-sizes
$base: 4px;
$font-12: 12px;

//font-family
$primary-family: Montserrat, sans-serif;
$title-family: "Playfair Display", serif;
$title-text-family: Lora, serif;

// resonsive-sizes
$xl-large-sizes: 1200px;
$large-sizes: 992px;
$medium-sizes: 768px;
$small-sizes: 567px;
