$accordion-title-color: #0e0e0e;
#accordions-intro {
  background-color: #fafaf9;
  padding: 72px 0;
  .accordions-intro-text {
    h1 {
      @include mainHeadStyle;
      color: $accordion-title-color;
      font-weight: 400;
    }
  }
}
@media screen and(max-width:$small-sizes) {
  #accordions-intro {
    padding: 59px 0;
    .accordions-intro-text {
      h1 {
        font-size: 36px;
      }
    }
  }
}
