#accordions-intro {
  background-color: #fafaf9;
  padding: 72px 0;
  .accordions-intro-text {
    h1 {
      font-size: 50px;
      line-height: 1.32em;
      color: #0e0e0e;
      font-family: "Playfair Display", serif;
      font-weight: 400;
    }
  }
}
@media screen and(max-width:567px) {
  #accordions-intro {
    padding: 59px 0;
    .accordions-intro-text {
      h1 {
        font-size: 36px;
      }
    }
  }
}
